PORT=5000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:3000
# MONGODB_URI=mongodb://127.0.0.1:27017/nexa-grow
MONGODB_URI=
ACCESS_TOKEN_SECRET=replace-with-a-long-access-token-secret
REFRESH_TOKEN_SECRET=replace-with-a-long-refresh-token-secret



CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
